@charset "utf-8";
@import url("font.css?v1");
@import url("common.css");

/* font-family weight
    100 Thin 
    200 ExtraLight 
    300 Light 
    400 Regular -> normal
    500 Medium 
    600 SemiBold 
    700 Bold  -> bold
    800 ExtraBold 
    900 Black 
*/
/* main top */
.mp_top{position:relative;height:43.2rem;background: #16171A}
.mp_top:after{content:'';position:absolute;bottom:0;left:0;width:100%;display:block;height:2rem;border-top-left-radius:2rem;border-top-right-radius:2rem;background:#fff}
.mp_list>ul>li{position:relative;width:15rem}
.mp_item{text-align:center;width:13.4rem;margin:0 auto;opacity:0.4;filter: blur(2px);overflow:hidden}
.mp_item>.mpi_img{position:relative;display:block;border-radius:12.8rem}
.mp_item>.mpi_img>.ring{display:none}
.ring{position:absolute;display:block;z-index:1;top:-0.8rem;left:-0.8rem;width:calc(100% + 1.6rem);height:calc(100% + 1.6rem);border-radius:13.4rem;overflow:hidden}
.ring:before{content:'';display:block;animation:2s infinite linear rainbow;width:18rem;height:18rem;position:absolute;top:50%;left:50%;margin-left:-9rem;margin-top:-9rem}
.ring:after{content:'';font-size:4rem;color:#fff;display:flex;justify-content: center; align-items: center;position:absolute;top:0.2rem;left:0.2rem;width:calc(100% - 0.4rem);height:calc(100% - 0.4rem);background:#16171A;border-radius:13.4rem}
.mp_item>.mpi_img>img{display:block;position:relative;z-index:3;width:100%;vertical-align:top;border-radius:13.4rem}
.mp_item>.mpi_img_tx1,.mp_item>.mpi_img_tx2, .mp_item>.mpi_img_tx3,.mp_item>.mpi_tx2,.mpi_more{display:none}
.mp_item>.mpi_img_tx1{position:absolute;top:-12.8rem;left:50%;height:12.8rem;z-index:3;width:15.5rem}
.mp_item>.mpi_img_tx1>i{position:absolute;transform: rotate(-8.072deg);top: 8.5rem;left: 0;font-family: 'RacingSansOne';font-size: 1.9rem;width: 100%;text-align: center;line-height: 1.6rem;color:#000}
.mp_item>.mpi_img_tx1>img{width:100%}
.mp_item>.mpi_img_tx2{opacity:1;top:16.5rem;margin-left:-17.3rem;position:absolute;left:50%;width:13.5rem;z-index:3}
.mp_item>.mpi_img_tx2:before{content:'';display:block;position:absolute;width: 2.8rem;height: 3rem;top: 0.5rem;right: 0.4rem;z-index:2}
.mp_item>.mpi_img_tx2>i{white-space: nowrap;color:#333;text-align: left;position:absolute;top:2.6rem;right:2.3rem;font-size:1.3rem;font-weight:700;line-height:2rem;padding:0 0.4rem;box-shadow: 0px 1.59px 6.361px 0px rgba(0, 0, 0, 0.15)}
.mp_item>.mpi_img_tx3{opacity:1;top:17.5rem;margin-left:3.3rem;position:absolute;left:50%;width:13.5rem;z-index:3}
.mp_item>.mpi_img_tx3:before{content:'';display:block;position:absolute;width: 2.9rem;height: 3rem;top: 0.5rem;left: 0.4rem;left: 0.2rem;z-index:2}
.mp_item>.mpi_img_tx3>i{white-space: nowrap;color:#333;text-align: left;position:absolute;top:2.6rem;left:2.3rem;font-size:1.3rem;font-weight:700;line-height:2rem;padding:0 0.4rem;box-shadow: 0px 1.59px 6.361px 0px rgba(0, 0, 0, 0.15)}

.mp_item>.mpi_img_tx1.mitx1{margin-left:-0.5rem}
.mp_item>.mpi_img_tx1.mitx2{margin-left:1.1rem;margin-top:-1.2rem}
.mp_item>.mpi_img_tx1.mitx3{margin-top:-0.2rem}
.mp_item>.mpi_img_tx1.mitx4{margin-left:0.5rem}
.mp_item>.mpi_img_tx1.mitx5{margin-left:-1rem}

.cursor1:before{background:url(../img/main/ico_cursor1.png) 0 0 no-repeat;background-size:100% auto}
.cursor2:before{background:url(../img/main/ico_cursor2.png) 0 0 no-repeat;background-size:100% auto}
.cursor3:before{background:url(../img/main/ico_cursor3.png) 0 0 no-repeat;background-size:100% auto}
.cursor4:before{background:url(../img/main/ico_cursor4.png) 0 0 no-repeat;background-size:100% auto}
.cursor5:before{background:url(../img/main/ico_cursor5.png) 0 0 no-repeat;background-size:100% auto}
.cursor6:before{background:url(../img/main/ico_cursor6.png) 0 0 no-repeat;background-size:100% auto}
.cursor7:before{background:url(../img/main/ico_cursor7.png) 0 0 no-repeat;background-size:100% auto}
.cursor8:before{background:url(../img/main/ico_cursor8.png) 0 0 no-repeat;background-size:100% auto}
.cursor9:before{background:url(../img/main/ico_cursor9.png) 0 0 no-repeat;background-size:100% auto}
.cursor10:before{background:url(../img/main/ico_cursor10.png) 0 0 no-repeat;background-size:100% auto}

.cursor1>i{background: #94E364}
.cursor2>i{background: #FBCF0A}
.cursor3>i{background: #FF7D80}
.cursor4>i{background: #B5B3F2}
.cursor5>i{background: #ADD1FF}
.cursor6>i{background: #FDB2AC}
.cursor7>i{background: #B5B3F2}
.cursor8>i{background: #6FADFF}
.cursor9>i{background: #73D1A8}
.cursor10>i{background: #FDB2AC}


.mp_item>.mpi_tx1{display:none;margin-top:4rem;height: 4.6rem;position:relative;opacity:0}
.mp_item>.mpi_tx1>i{display:block;white-space:nowrap; font-size: 3.4rem;font-weight:600;line-height:inherit;color:#fff;position: absolute;left: 50%;transform: translateX(-50%)}
.mp_item>.mpi_tx2{position:relative;height:5.5rem;margin-top:0.6rem;opacity:0}
.mp_item>.mpi_tx2>i{color:#c5c5c5;white-space: nowrap;padding: 0 2.6rem;overflow:hidden;font-family: 'Arita';font-size:1.6rem;line-height:2.4rem;position: absolute;left: 50%;transform: translateX(-50%)}
.mp_item>.mpi_tx2>i::before{content:'';position:absolute;top:0.2rem;left:0;width:1.6rem;height:1.2rem;background:url(../img/main/img_tx4_l.png) 0 0 no-repeat;background-size:100% auto}
.mp_item>.mpi_tx2>i::after{content:'';position:absolute;top:0.2rem;right:0;width:1.6rem;height:1.2rem;background:url(../img/main/img_tx4_r.png) 0 0 no-repeat;background-size:100% auto}
.mp_item>.mpi_more{font-size: 1.4rem;font-weight:500;line-height: 2rem; color:#666;margin-top:0.6rem;opacity:0}

.mp_list>ul>li.swiper-slide-active>.mp_item{padding-top:4.8rem;overflow:visible;animation:1s forwards ease ani4}
.mp_list>ul>li.swiper-slide-active>.mp_item>.mpi_img>.ring{display:block}
.mp_list>ul>li.swiper-slide-active>.mp_item>.mpi_img_tx1{display:block;animation:1s forwards ease ani1}
.mp_list>ul>li.swiper-slide-active>.mp_item>.mpi_img_tx2{display:block;animation:0.3s backwards ease ani2}
.mp_list>ul>li.swiper-slide-active>.mp_item>.mpi_img_tx3{display:block;animation:0.3s backwards ease ani3}
.mp_list>ul>li.swiper-slide-active>.mp_item>.mpi_tx1{display:block;opacity:1}
.mp_list>ul>li.swiper-slide-active>.mp_item>.mpi_tx2{display:block;opacity:1}
.mp_list>ul>li.swiper-slide-active>.mp_item>.mpi_more{display:block;opacity:1}

@keyframes rainbow{
    0% {background-image:-webkit-linear-gradient(-65deg, #D5FD00 5%, #85F3FB 25%, #E85F9E 60%, #FAE365 80%)}
    100% {transform:rotate(360deg); background-image:-webkit-linear-gradient(-65deg, #D5FD00 5%, #85F3FB 25%, #E85F9E 60%, #FAE365 80%)}
}
@keyframes ani1 {
    40% {top:-9rem}
    50% {top:-11rem}
    60% {top:-9rem}
    70% {top:-10rem}
    80% {top:-9rem}
    90% {top:-9.5rem}
    100% {top:-9rem}
}
@keyframes ani2 {
    0% {opacity:0;top:25.5rem;margin-left:-20.5rem}
}
@keyframes ani3 {
    0% {opacity:0;top:25rem;margin-left:5.3rem}
}
@keyframes ani4 {
    100% {filter: blur(0);opacity:1}
}

/* namuh banner */
.nm_ban{position:relative;display:flex;flex-direction: column;justify-content: center;padding-left:7rem;border-radius: 1rem;background: #F0FAE5; height: 7.6rem}
.nm_ban::before{content:'';position:absolute;left:1.6rem;top:2rem;width:4rem;height:4rem;background:url(../img/main/ico_banner.png) 0 0 no-repeat;background-size: 100% auto}
.nm_ban_tx1{display:flex;height: 2.2rem;align-items: center}
.nm_ban_tx1>i{font-size:1.6rem;font-weight:600;letter-spacing:-0.06rem;color:#333}
.nm_ban_tx1:after{content:'';margin-left:0.5rem;display:inline-flex;width:1.6rem;height:1.6rem;background:url(../img/main/ico_arw_r.png) 50% 50% no-repeat;background-size: 100% auto}
.nm_ban_tx2{margin-top:0.3rem;font-size:1.2rem;font-weight:400;height:1.7rem;line-height: 1.7rem;color:#999}

/* tab list */
.mpt_list{position:relative;background:#fff;height:4.8rem}
.mpt_list:before{content:'';position:absolute;bottom:0;left:0;display:block;width:100%;height:0.1rem;background:#E0E0E0}
.mpt_list:after{content:'';position:absolute;z-index:2;bottom:0;right:0;display:block;width:4.8rem;height:100%;background:url(../img/main/tab_end.png) 0 0 no-repeat;background-size:100% auto}
.mpt_list>ul>li{width:auto}
.mpt_list>ul>li:first-child{margin-left: 1.6rem}
.mpt_list>ul>li:last-child{margin-right:  1.6rem}
.mpt_list>ul>li>a{font-size: 1.6rem;font-weight: 500;color:#999;line-height: 2.4rem;padding:0 1rem;display:inline-flex;height: 100%;align-items: center;justify-content: center}
.mpt_list>ul>li>a.active{position:relative;color:#000;font-weight: 700}
.mpt_list>ul>li>a.active::before{content:'';position:absolute;bottom:0;left:0;width:100%;height:0.1rem;background:#000}

.mp_cht_area{max-width:54rem;margin-left:auto;margin-right:auto}
.mp_sec_list>ul>li{margin-bottom:2rem}
.mpsec_item{display:flex;justify-content: space-between;align-items: center;height:3rem}
.mpsec_item>span{display:flex;align-items: center}
.mpsec_ico{height:3rem;width:3rem;display:inline-flex}
.mpsec_ico>img{width:100%}
.mpsec_tx1{color:#000;font-size:1.6rem;margin-left:1rem;font-weight:500}
.mpsec_tx2{color:#999;font-size:1.2rem;margin-left:0.8rem}
.mpcht_label{width:0.8rem;height:0.8rem;display:inline-flex;border-radius:0.8rem}
.mpsec_per{margin-left:0.5rem;font-size:1.6rem;font-weight:500}
.mp_bgc1{background-color:#0093FF}
.mp_bgc2{background-color:#008B8B}
.mp_bgc3{background-color:#52C750}
.mp_bgc4{background-color:#FBBE2C}
.mp_bgc5{background-color:#FF7F3E}
.mp_bgc6{background-color:#D1D1D1}
.mp_btn_more{border-radius:0.7rem;height:4.2rem;border:0.1rem solid #f0f0f0;background:#fff;font-size:1.4rem;color:#666;display:flex;justify-content: center;align-items: center}
 
.mp_note{display:flex;height: 3.4rem;justify-content: space-between;align-items: center;background-color:#F9F9F9}
.mp_note>*{display:inline-flex;align-items: center}
.ico_i{width:1.4rem;height:1.4rem;display:inline-flex;background:url(../img/main/ico_i.png) 0 0 no-repeat;background-size:100% auto}
.mp_note_tx{font-size: 1.2rem;line-height: 1.5rem;height: 1.4rem;margin-left: 0.4rem;font-weight: 400;color:#666}
.mp_note_more{width:1.6rem;height:1.6rem;background:url(../img/main/ico_arw_r.png) 0 0 no-repeat;background-size:100% auto}
.sec_bar{border-bottom:0.8rem solid #F5F5F5;padding-bottom:3rem;margin-bottom:3rem}

/* btns */
.mp_btn_order{font-size:1.7rem;font-weight:500;display:flex;height:5rem;justify-content:center;align-items:center;color:#fff}
.bgc_qv{background-color:#FFAA1A}
.bgc_nm{background-color:#84C13D}

/*common*/
.sticky_top{position:sticky;top:0;z-index:3}
.sticky_bottom{position:sticky;bottom:0;z-index:3}
.padd{padding-left:1.6rem;padding-right:1.6rem}
.mp_h2{padding-left:0.4rem;font-size:1.9rem;font-weight:700;line-height:2.8rem}

.arrow{max-width:1.6rem;width:100%;height: 1.6rem}
.select{display: none; align-items: center}
.select_on{display:inline-flex}
.select div:first-child{font-size:1.4rem;margin-right: 0.4rem;white-space: nowrap;font-weight: 500}

.mp_tit{display:flex;justify-content: space-between;align-items: center}
.mp_h3{display:inline-flex;align-items: center;font-size:1.6rem;line-height:2.4rem;font-weight:700}
.mp_h3:after{content:'';display:inline-flex;width:1.6rem;height:2.4rem;background:url(../img/main/ico_arw_r.png) 100% 50% no-repeat;background-size:100% auto}
.mp_h3 *{font-weight:inherit}
.mp_tit_info{font-size:1.2rem;line-height:1.8rem;display:inline-flex;color:#999}
