@charset "utf-8";
@import url("https://m.nhqv.com/static/css/font.css");

html{font-size:2.76vw;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;scroll-behavior:smooth}
@media (max-width:280px){html{font-size:7.7px} html,body,.wrap{min-width:280px}}
@media (min-width:541px){html{font-size:10px}}
body{line-height:1.437}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input
{box-sizing:border-box;line-height:inherit;margin:0;padding:0;border:0;color:#111;font-family:'PretendardR', 'Pretendard', sans-serif;letter-spacing:0;vertical-align:baseline}
body,input,select,div,textarea,table,button,pre{letter-spacing:0}

fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle;-webkit-appearance:none;border:none;border-radius:0;-webkit-tap-highlight-color:transparent;background-color:transparent;box-sizing:border-box;cursor:pointer}
button{border-collapse:collapse;border-spacing:0;border:0 none;background:transparent}
body{-webkit-text-size-adjust:none;font-size:1.6rem}
input::-ms-clear,
input::-ms-reveal{display:none}
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{ 
transition:background-color 5000s} 
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{display:none}
input[type=date]::-webkit-inner-spin-button{display:none}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator{display:none}
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:button;border-radius:0}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0;cursor:pointer}/* cursor */
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
a{font-size:inherit;font-weight:inherit;color:inherit;line-height:inherit;text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
h1, h2, h3, h4, h5, h6{font-weight:normal}
::-webkit-input-placeholder{color:rgba(118,118,118,0.3)}
img{max-width:100%;height:auto}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%}
caption{border:0 !important;clip:rect(0 0 0 0) !important;height:0px !important;overflow:hidden !important;padding:0 !important;width:0px !important;font-size:0px !important}
textarea{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;word-break:keep-all;word-wrap:break-word} 
i {font-family:inherit;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:inherit}
i:before{display:inline-block}
span,em,p,b,strong{font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;font-weight:normal}
:focus,:active {outline:none;-webkit-tap-highlight-color:transparent}

